In [97]:
from openpyxl import load_workbook
import pandas as pd

In [98]:
wb=load_workbook('../data/external_SA2/homeless_number.xlsx')
homeless_2021 = wb['Table_5.3']
homeless_2016 = wb['Table_5.4']

In [99]:
def read_sheet(sheet):
    data = sheet.values
    columns = next(data)
    return pd.DataFrame(data, columns=columns)

df_2021 = read_sheet(homeless_2021)
df_2016 = read_sheet(homeless_2016)

In [100]:
df_2021

,Australian Bureau of Statistics,None,None,None,None,None,None,None,None,None,None
0,20490DO005_2021 Estimating homelessness: Censu...,None,None,None,None,None,None,None,None,None,None
1,Released at 11:30 am (Canberra time) Wed 22 Ma...,None,None,None,None,None,None,None,None,None,None
2,"Table 5.3 ALL HOMELESS PERSONS, by place of en...",None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,All homeless persons,None,None,None,None,None,None
4,None,SA4,SA3,SA2,no.,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
2904,(c) Some Statistical Area Level geographical b...,None,None,None,None,None,None,None,None,None,None
2905,None,None,None,None,None,None,None,None,None,None,None
2906,"Source: Census of Population and Housing, 2021",None,None,None,None,None,None,None,None,None,None
2907,None,None,None,None,None,None,None,None,None,None,None
2908,© Commonwealth of Australia 2023,None,None,None,None,None,None,None,None,None,None

In [101]:
df_2016

,Australian Bureau of Statistics,None,None,None,None,None,None,None
0,20490DO005_2021 Estimating homelessness: Censu...,None,None,None,None,None,None,None
1,Released at 11:30 am (Canberra time) Wed 22 Ma...,None,None,None,None,None,None,None
2,"Table 5.4 ALL HOMELESS PERSONS, by place of en...",None,None,None,None,None,None,None
3,None,None,None,None,All homeless persons,None,None,None
4,None,SA4,SA3,SA2,no.,None,None,None
...,...,...,...,...,...,...,...,...
2742,(c) Some Statistical Area Level geographical b...,None,None,None,None,None,None,None
2743,None,None,None,None,None,None,None,None
2744,"Source: Census of Population and Housing, 2016",None,None,None,None,None,None,None
2745,None,None,None,None,None,None,None,None
2746,© Commonwealth of Australia 2023,None,None,None,None,None,None,None

In [102]:
# This function is to rename headers and slice df
def format_df(df):
    new_column_names = df.iloc[4]
    df.set_axis(new_column_names, axis=1, inplace=True)
    df = df[4:]
    df = df.iloc[1: ,[0, 3, 4]]
    df.rename(columns={"no.": "homeless number", df.columns[0]: 'ABS'}, inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

df_2021 = format_df(df_2021)
df_2016 = format_df(df_2016)

/var/folders/38/85yvxj112kj5cp41m83y71800000gn/T/ipykernel_10939/278430436.py:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(new_column_names, axis=1, inplace=True)
/var/folders/38/85yvxj112kj5cp41m83y71800000gn/T/ipykernel_10939/278430436.py:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(new_column_names, axis=1, inplace=True)

In [103]:
df_2021

4                                                   ABS   SA2 homeless number
0                                             Australia  None          122494
1                                                  None  None            None
2                                       New South Wales  None           34982
3                                                  None  None             757
4                                                  None  None             190
...                                                 ...   ...             ...
2899  (c) Some Statistical Area Level geographical b...  None            None
2900                                               None  None            None
2901     Source: Census of Population and Housing, 2021  None            None
2902                                               None  None            None
2903                   © Commonwealth of Australia 2023  None            None

[2904 rows x 3 columns]

In [104]:
df_2016

4                                                   ABS   SA2 homeless number
0                                             Australia  None          116427
1                                                  None  None            None
2                                       New South Wales  None           37692
3                                                  None  None             656
4                                                  None  None             121
...                                                 ...   ...             ...
2737  (c) Some Statistical Area Level geographical b...  None            None
2738                                               None  None            None
2739     Source: Census of Population and Housing, 2016  None            None
2740                                               None  None            None
2741                   © Commonwealth of Australia 2023  None            None

[2742 rows x 3 columns]

In [105]:
df_2016['ABS'].unique()
# we want the data between Victoria and Queensland

array(['Australia', None, 'New South Wales',
       'http://www.abs.gov.au/websitedbs/d3310114.nsf/Home/©+Copyright?OpenDocument',
       'Victoria', 'Queensland', 'South Australia', 'Western Australia',
       'Tasmania', 'Northern Territory', 'Australian Capital Territory',
       'Other Territories',
       "Cells in this table have been randomly adjusted to avoid the release of confidential data. As a result cells may not add to the totals. See the 'Methodology' section of this publication for more information",
       "(a) Categories are mutually exclusive, therefore persons will only appear in one category. For example, persons who are in the category 'supported accommodation for the homeless' who are living in 'severely' crowded dwellings will not also appear in 'persons living in 'severely' crowded dwellings'",
       "(b)  For 2016, the Geographical Area used in this table 'Place of Enumeration - Main Statistical Area Structure (Main ASGS)' includes residents in Other territories, and excludes residents at sea, migratory and offshore regions",
       "(c) Some Statistical Area Level geographical boundaries have changed between Census 2016 and Census 2021. See the 'Methodology' section of this publication for more information on how to compare these data over time",
       'Source: Census of Population and Housing, 2016',
       '© Commonwealth of Australia 2023'], dtype=object)

In [106]:
df_2021['ABS'].unique()

array(['Australia', None, 'New South Wales', 'Victoria', 'Queensland',
       'South Australia', 'Western Australia', 'Tasmania',
       'Northern Territory', 'Australian Capital Territory',
       'Other Territories',
       "Cells in this table have been randomly adjusted to avoid the release of confidential data. As a result cells may not add to the totals. See the 'Methodology' section of this publication for more information",
       "(a) Categories are mutually exclusive, therefore persons will only appear in one category. For example, persons who are in the category 'supported accommodation for the homeless' who are living in 'severely' crowded dwellings will not also appear in 'persons living in 'severely' crowded dwellings'",
       " (b) For 2021, the Geographical Area used in this table 'Place of Enumeration - Main Statistical Area Structure (Main ASGS)' includes residents in Other territories, and excludes residents at sea, migratory and offshore regions",
       "(c) Some Statistical Area Level geographical boundaries have changed between Census 2016 and Census 2021. See the 'Methodology' section of this publication for more information on how to compare these data over time",
       'Source: Census of Population and Housing, 2021',
       '© Commonwealth of Australia 2023'], dtype=object)

In [107]:
# This function is to find Vic homeless number
def find_vic_homeless(df):
    row_index1 = df.loc[df["ABS"] == "Victoria"].index[0]
    row_index2 = df.loc[df["ABS"] == "Queensland"].index[0]
    vic_homeless = df.iloc[row_index1: row_index2]
    return vic_homeless

vic_homeless_2016 = find_vic_homeless(df_2016)
vic_homeless_2021 = find_vic_homeless(df_2021)

In [108]:
vic_homeless_2016

4          ABS                  SA2 homeless number
699   Victoria                 None           24828
700       None                 None             529
701       None                 None             414
702       None            Alfredton               3
703       None             Ballarat             123
...        ...                  ...             ...
1240      None                 None             178
1241      None         Moyne - East               6
1242      None         Moyne - West              16
1243      None  Warrnambool - North              87
1244      None  Warrnambool - South              61

[546 rows x 3 columns]

In [109]:
len(vic_homeless_2016['SA2'].unique())

463

In [110]:
vic_homeless_2021

4          ABS                  SA2 homeless number
765   Victoria                 None           30605
766       None                 None             734
767       None                 None             625
768       None            Alfredton              64
769       None             Ballarat              57
...        ...                  ...             ...
1366      None                 None             217
1367      None         Moyne - East              25
1368      None         Moyne - West               6
1369      None  Warrnambool - North              95
1370      None  Warrnambool - South              92

[606 rows x 3 columns]

In [111]:
len(vic_homeless_2021['SA2'].unique())  # number of SA2 districts are different

523

In [112]:
len(set(vic_homeless_2016['SA2'].unique()).intersection(set(vic_homeless_2021['SA2'].unique())))
# 2016 and 2021 data have 391 same SA2 districts

392

In [113]:
print(vic_homeless_2021['SA2'].isna().sum()) # only 84, can delete directly
print(vic_homeless_2016['SA2'].isna().sum()) # only 84, can delete directly

84
84

In [114]:
print(vic_homeless_2016['homeless number'].isna().sum())
print(vic_homeless_2021['homeless number'].isna().sum())

0
0

In [115]:
vic_homeless_2016.dropna(subset=['SA2'], inplace=True)
vic_homeless_2021.dropna(subset=['SA2'], inplace=True)

/var/folders/38/85yvxj112kj5cp41m83y71800000gn/T/ipykernel_10939/1835257333.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vic_homeless_2016.dropna(subset=['SA2'], inplace=True)
/var/folders/38/85yvxj112kj5cp41m83y71800000gn/T/ipykernel_10939/1835257333.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vic_homeless_2021.dropna(subset=['SA2'], inplace=True)

### Finally, there are 522 instances recording 2021 homeless number in Victor SA2 different districts and  462 instances in 2016

In [116]:
vic_homeless_2021

4      ABS                  SA2 homeless number
768   None            Alfredton              64
769   None             Ballarat              57
770   None            Buninyong              43
771   None            Delacombe              43
772   None        Smythes Creek               5
...    ...                  ...             ...
1365  None                Otway              27
1367  None         Moyne - East              25
1368  None         Moyne - West               6
1369  None  Warrnambool - North              95
1370  None  Warrnambool - South              92

[522 rows x 3 columns]

In [117]:
vic_homeless_2016

4      ABS                  SA2 homeless number
702   None            Alfredton               3
703   None             Ballarat             123
704   None     Ballarat - North              92
705   None     Ballarat - South              74
706   None            Buninyong               0
...    ...                  ...             ...
1239  None                Otway               3
1241  None         Moyne - East               6
1242  None         Moyne - West              16
1243  None  Warrnambool - North              87
1244  None  Warrnambool - South              61

[462 rows x 3 columns]

### Number of homeless increased about 23% in 5 years!

In [118]:
total_homeless_2016 = vic_homeless_2016['homeless number'].sum()
total_homeless_2021 = vic_homeless_2021['homeless number'].sum()
print(f'There were {total_homeless_2016} homeless in 2016 and {total_homeless_2021} homeless in 2021')

There were 24797 homeless in 2016 and 30615 homeless in 2021

In [119]:
vic_homeless_2021.to_csv('../data/external_SA2/2021_homelessNum.csv', index=False) 
vic_homeless_2016.to_csv('../data/external_SA2/2016_homelessNum.csv', index=False)