In [65]:
import pandas as pd

In [140]:
data = pd.read_csv("../data/aggregated_dataset.csv")

In [141]:
data_median = data.groupby('SA2_NAME21').median().reset_index()

/tmp/ipykernel_15001/523763617.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data_median = data.groupby('SA2_NAME21').median().reset_index()

In [142]:
data_median

,SA2_NAME21,Unnamed: 0,cost,beds,baths,parkings,SA2_CODE21,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket
0,Abbotsford,3908.5,630.0,2.0,1.0,1.0,206071139.0,1.3994,3.89060,0.91655,1.9997,0.8442,0.493333
1,Airport West,2859.0,575.0,3.0,2.0,1.0,210011226.0,7.1358,4.26060,2.18150,7.6790,0.7838,2.376667
2,Albert Park,976.5,642.5,2.0,1.0,1.0,206051128.0,2.0762,4.63950,2.89320,4.5530,0.5590,3.526667
3,Alexandra,10187.5,325.0,2.5,1.0,2.0,204011054.0,64.9795,102.59440,69.13530,73.3101,0.8552,1.884167
4,Alfredton,9236.0,440.0,4.0,2.0,2.0,201011001.0,6.4705,5.52260,6.65100,21.4927,1.0273,4.256667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yarram,11381.0,400.0,3.0,1.0,2.0,205051104.0,64.8132,67.64110,64.97850,84.3783,1.6044,1.928333
490,Yarraville,1696.0,625.0,3.0,1.0,2.0,213031352.0,1.2853,3.67410,3.12730,8.1020,0.9230,2.286667
491,Yarrawonga,10220.0,500.0,3.0,2.0,2.0,216021414.0,58.1303,60.82710,1.43970,81.5430,1.1431,35.423333
492,Yarriambiack,9463.5,357.5,3.0,1.0,1.0,215011394.0,41.2255,83.54525,57.55080,42.4908,1.0592,3.178333
493,Yea,10191.0,400.0,3.0,2.0,2.0,204011062.0,39.7496,52.58590,39.43950,40.5794,1.5844,27.531667

In [143]:
crime = pd.read_csv("../data/raw/Offence count by postcode.csv")

In [144]:
crime_median = crime.groupby('SA2_NAME21').median().reset_index()

/tmp/ipykernel_15001/1025248073.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  crime_median = crime.groupby('SA2_NAME21').median().reset_index()

In [145]:
aggregated = data_median.merge(crime_median[['SA2_NAME21', 'Offence Count']], on='SA2_NAME21', how='left')

In [146]:
aggregated

,SA2_NAME21,Unnamed: 0,cost,beds,baths,parkings,SA2_CODE21,Nearest_station,Nearest_park,Nearest_shop,Nearest_hospital,Nearest_school,Nearest_supermarket,Offence Count
0,Abbotsford,3908.5,630.0,2.0,1.0,1.0,206071139.0,1.3994,3.89060,0.91655,1.9997,0.8442,0.493333,13539.0
1,Airport West,2859.0,575.0,3.0,2.0,1.0,210011226.0,7.1358,4.26060,2.18150,7.6790,0.7838,2.376667,14879.0
2,Albert Park,976.5,642.5,2.0,1.0,1.0,206051128.0,2.0762,4.63950,2.89320,4.5530,0.5590,3.526667,51743.0
3,Alexandra,10187.5,325.0,2.5,1.0,2.0,204011054.0,64.9795,102.59440,69.13530,73.3101,0.8552,1.884167,1769.0
4,Alfredton,9236.0,440.0,4.0,2.0,2.0,201011001.0,6.4705,5.52260,6.65100,21.4927,1.0273,4.256667,67598.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yarram,11381.0,400.0,3.0,1.0,2.0,205051104.0,64.8132,67.64110,64.97850,84.3783,1.6044,1.928333,2978.0
490,Yarraville,1696.0,625.0,3.0,1.0,2.0,213031352.0,1.2853,3.67410,3.12730,8.1020,0.9230,2.286667,8418.0
491,Yarrawonga,10220.0,500.0,3.0,2.0,2.0,216021414.0,58.1303,60.82710,1.43970,81.5430,1.1431,35.423333,4455.0
492,Yarriambiack,9463.5,357.5,3.0,1.0,1.0,215011394.0,41.2255,83.54525,57.55080,42.4908,1.0592,3.178333,2019.0
493,Yea,10191.0,400.0,3.0,2.0,2.0,204011062.0,39.7496,52.58590,39.43950,40.5794,1.5844,27.531667,1741.0

In [123]:
population_forecast = pd.read_csv("../data/external_SA2/Victoria.csv")

In [124]:
population_forecast

,YEAR,SA2_CODE,SA2_NAME,SEX,Age0-4,Age5-9,Age10-14,Age15-19,Age20-24,Age25-29,...,Age45-49,Age50-54,Age55-59,Age60-64,Age65-69,Age70-74,Age75-79,Age80-84,Age85+,Total
0,2017,201011001,Alfredton,Male,462,494,547,507,415,417,...,415,367,337,268,230,213,135,65,54,6159
1,2017,201011001,Alfredton,Female,464,482,526,464,380,394,...,472,399,359,302,279,206,133,76,90,6366
2,2017,201011001,Alfredton,Persons,926,976,1073,971,795,811,...,887,766,696,570,509,419,268,141,144,12525
3,2017,201011002,Ballarat,Male,319,346,355,497,433,360,...,402,374,393,336,328,268,216,138,118,5839
4,2017,201011002,Ballarat,Female,282,348,383,433,421,369,...,457,434,484,365,384,315,251,177,235,6388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22171,2032,217041479,Warrnambool - North,Female,665,725,763,762,603,676,...,738,694,678,779,834,833,676,564,576,12974
22172,2032,217041479,Warrnambool - North,Persons,1380,1496,1566,1600,1319,1415,...,1424,1311,1263,1465,1549,1557,1321,1055,1006,25466
22173,2032,217041480,Warrnambool - South,Male,339,362,388,365,415,447,...,391,378,368,396,398,407,381,283,249,6837
22174,2032,217041480,Warrnambool - South,Female,335,355,366,329,357,413,...,412,392,367,401,415,466,422,334,364,6975
22175,2032,217041480,Warrnambool - South,Persons,674,717,754,694,772,860,...,803,770,735,797,813,873,803,617,613,13812

In [125]:
population_forecast = population_forecast.groupby(['YEAR', 'SA2_NAME']).mean().reset_index()

/tmp/ipykernel_15001/669398542.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  population_forecast = population_forecast.groupby(['YEAR', 'SA2_NAME']).mean().reset_index()

In [126]:
population_forecast = population_forecast.rename(columns={'SA2_NAME': 'SA2_NAME21'})

In [132]:
population_forecast_pivot = population_forecast.pivot(index='SA2_NAME21', columns='YEAR', values='Total')
population_forecast_pivot.reset_index(inplace=True)

In [135]:
population = population_forecast_pivot.iloc[:, 0:11]

In [136]:
population

YEAR,SA2_NAME21,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026
0,Abbotsford,6300.000000,6741.333333,7186.000000,7625.333333,8055.333333,8476.000000,8884.666667,9286.000000,9675.333333,10054.666667
1,Airport West,5356.000000,5430.000000,5508.000000,5585.333333,5660.666667,5736.666667,5810.000000,5883.333333,5956.666667,6027.333333
2,Albert Park,11156.666667,11319.333333,11492.666667,11666.000000,11836.000000,12000.000000,12156.000000,12299.333333,12434.666667,12559.333333
3,Alexandra,4356.000000,4392.666667,4428.666667,4462.666667,4491.333333,4519.333333,4544.000000,4566.666667,4588.000000,4604.666667
4,Alfredton,8350.000000,8777.333333,9208.666667,9636.000000,10048.666667,10458.666667,10862.666667,11264.000000,11659.333333,12037.333333
...,...,...,...,...,...,...,...,...,...,...,...
457,Yarram,3594.000000,3609.333333,3622.666667,3634.666667,3644.666667,3654.000000,3660.666667,3665.333333,3668.000000,3668.666667
458,Yarraville,10595.333333,10767.333333,10948.666667,11135.333333,11320.666667,11506.666667,11692.000000,11877.333333,12057.333333,12234.666667
459,Yarrawonga,5443.333333,5548.000000,5654.000000,5755.333333,5848.666667,5937.333333,6023.333333,6106.666667,6185.333333,6256.000000
460,Yarriambiack,4421.333333,4387.333333,4356.666667,4324.666667,4292.666667,4259.333333,4225.333333,4190.000000,4153.333333,4116.000000
461,Yea,2432.666667,2460.666667,2489.333333,2516.666667,2539.333333,2561.333333,2582.666667,2602.000000,2619.333333,2633.333333

In [150]:
merged = aggregated.merge(population, on='SA2_NAME21', how='left')

In [155]:
column_mapping = {year: f'population_{year}' for year in range(2017, 2027)}
merged.rename(columns=column_mapping, inplace=True)

In [156]:
merged

,SA2_NAME21,Unnamed: 0,cost,beds,baths,parkings,SA2_CODE21,Nearest_station,Nearest_park,Nearest_shop,...,population_2017,population_2018,population_2019,population_2020,population_2021,population_2022,population_2023,population_2024,population_2025,population_2026
0,Abbotsford,3908.5,630.0,2.0,1.0,1.0,206071139.0,1.3994,3.89060,0.91655,...,6300.000000,6741.333333,7186.000000,7625.333333,8055.333333,8476.000000,8884.666667,9286.000000,9675.333333,10054.666667
1,Airport West,2859.0,575.0,3.0,2.0,1.0,210011226.0,7.1358,4.26060,2.18150,...,5356.000000,5430.000000,5508.000000,5585.333333,5660.666667,5736.666667,5810.000000,5883.333333,5956.666667,6027.333333
2,Albert Park,976.5,642.5,2.0,1.0,1.0,206051128.0,2.0762,4.63950,2.89320,...,11156.666667,11319.333333,11492.666667,11666.000000,11836.000000,12000.000000,12156.000000,12299.333333,12434.666667,12559.333333
3,Alexandra,10187.5,325.0,2.5,1.0,2.0,204011054.0,64.9795,102.59440,69.13530,...,4356.000000,4392.666667,4428.666667,4462.666667,4491.333333,4519.333333,4544.000000,4566.666667,4588.000000,4604.666667
4,Alfredton,9236.0,440.0,4.0,2.0,2.0,201011001.0,6.4705,5.52260,6.65100,...,8350.000000,8777.333333,9208.666667,9636.000000,10048.666667,10458.666667,10862.666667,11264.000000,11659.333333,12037.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,Yarram,11381.0,400.0,3.0,1.0,2.0,205051104.0,64.8132,67.64110,64.97850,...,3594.000000,3609.333333,3622.666667,3634.666667,3644.666667,3654.000000,3660.666667,3665.333333,3668.000000,3668.666667
490,Yarraville,1696.0,625.0,3.0,1.0,2.0,213031352.0,1.2853,3.67410,3.12730,...,10595.333333,10767.333333,10948.666667,11135.333333,11320.666667,11506.666667,11692.000000,11877.333333,12057.333333,12234.666667
491,Yarrawonga,10220.0,500.0,3.0,2.0,2.0,216021414.0,58.1303,60.82710,1.43970,...,5443.333333,5548.000000,5654.000000,5755.333333,5848.666667,5937.333333,6023.333333,6106.666667,6185.333333,6256.000000
492,Yarriambiack,9463.5,357.5,3.0,1.0,1.0,215011394.0,41.2255,83.54525,57.55080,...,4421.333333,4387.333333,4356.666667,4324.666667,4292.666667,4259.333333,4225.333333,4190.000000,4153.333333,4116.000000
493,Yea,10191.0,400.0,3.0,2.0,2.0,204011062.0,39.7496,52.58590,39.43950,...,2432.666667,2460.666667,2489.333333,2516.666667,2539.333333,2561.333333,2582.666667,2602.000000,2619.333333,2633.333333

In [157]:
census = pd.read_csv("../data/landing/census2021/2021 Census GCP All Geographies for VIC/SA2/VIC/2021Census_G02_VIC_SA2.csv")

In [160]:
census = census.rename(columns={'SA2_CODE_2021': 'SA2_CODE21'})

In [162]:
all_features = merged.merge(census, on='SA2_CODE21', how='left')

In [164]:
all_features.to_csv("../data/raw/Properties with distance, crime, population, affluence.csv")